<section id="services">
    <div class="card-group">
        {{#each enterprises}}

        <div class="card">
            <img class="card-img-top" src="{{courses.image}}" alt="{{courses.name}}">
            <div class="card-body">
                <h5 class="card-title">{{courses.name}}</h5>
                <p class="card-text">{{courses.description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{courses.updatedAt}}</small>
            </div>
        </div>

        {{else}}

        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">There is not enterprises yet</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>