<section id="services">
    <div class="card-group">
        {{#each successCasses}}

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{successCasse.image}}" alt="{{successCasse.name}}">
            <div class="card-body">
                <h5 class="card-title">{{successCasse.name}}</h5>
                <p class="card-text">{{successCasse.description}}</p>
            </div>
        </div>

        {{else}}

        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">There is not success cases yet</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>